.scroll-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.scroll-container {
  display: flex;
  overflow: hidden;
}

.scroll-container.horizontal {
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.scroll-container.vertical {
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-thumb {
  position: absolute;
  background-color: var(--text-color);
  height: 0.5rem;
  transition: background-color 0.3s;
  z-index: 2;
  max-width: 500px;
}

.scroll-thumb.horizontal {
  height: 0.4rem;
}

.scroll-thumb.vertical {
  width: 0.4rem;
}

/* Media query para móvil */
@media (max-width: 768px) {
  .scroll-thumb.horizontal {
    height: 4px;
  }

  .scroll-thumb.vertical {
    width: 4px;
  }
  
  .scroll-container.horizontal {
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: auto;
  }
  
  .scroll-container.horizontal > * {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex: 0 0 100vw;
    width: 100vw;
    margin-right: 0;
  }
}